* {
    overflow-x: initial;
    overflow-y: initial;
}

nav {
    background-color: #FFFFFF;
}

body {
    background-color: #F0E5F0;

}

#container-all {
    margin-top: 20px;
}

.explication, .illustration {
    width: 50%;
}

.dis {
    display: flex;
}

#post-it {
    display: flex;
}

#post-it p {
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
}

span {
    margin-right: 5px;
    margin-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50px;
    color: #F0E5F0;
    font-weight: bold;
}

#html {
    background-color: #d39095;
}

#css {
    background-color: #c75c92;
}

#javascript {
    background-color: #a61e62;
}

#php {
    background-color: #9670CB;
}

#mysql {
    background-color: #670fd9;
}

#design {
    background-color: #d9810f;
}

#integration {
    background-color: #26828c;
}

/*descriptif*/

.explication {
    padding: 35px;
}

#container-all h1, #container-all p  {
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 20px;
}

p {
    font-size: 18px;
}

/*ILLUSTATION*/
.illustration {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
}

.illustration img {
    width: 70%;
    margin: auto;
    margin-bottom: 25px;
}
#gallery img{
    margin: 0;
}

.col {
    display: flex;
    flex-direction: column;
}

hr {
    margin: auto;
    width: 90%;
    margin-bottom: 40px;
    margin-top: 40px;
}

@media (max-width: 1400px) {
    .illustration img {
        width: 500px;

    }
}

@media (max-width: 1000px) {
    .illustration {
        display: none;
    }

    .explication {
        width: 100%;
    }
}