* {
    overflow-x: initial;
    overflow-y: initial;
}

body {
    background-color: rgb(240, 229, 240);

}

nav {
    background-color: #FFFFFF;
}
.first-div {
    margin-top: 25px;
}

/* ACCUEIL PROJET */
#container-list {
    display: flex;
}

#apercu {
    background-image: url("img/projet_watercolor.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#apercu img{
    width: 300px;
    max-height: 450px;
}

h1 {
    margin-bottom: 25px;
}


.rectangle {
    width: 70%;
    cursor: pointer;
    background-size: 200% 100%;
    transition: background-position 0.5s;
    position: relative;
    overflow: hidden;
}

.rectangle div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    /*position: relative;
    overflow: hidden;*/
}


.rectangle::before {
    content: "Voir plus" /*url("img/arrow.svg")*/;
    position: absolute;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(240,229,240,1) 0%, rgba(238,186,238,1) 50%); /* Dégradé de gauche à droite */
    transition: right 0.3s;
    padding-top: 6%;
}

.rectangle:hover::before {
    right: 0;
    transition: right 0.3s;
    color: #3b3b3b;
    font-size: 22px;
    font-weight: bold;
}






