* {
    overflow-x: initial;
    overflow-y: initial;
}

body {
    color: #3b3b3b;
}
/*POST IT*/
.first-div {
    background-image: url("./img/accueil_watercolor.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    margin-right: 150px;
    width:60%;
}

#post-it {
    background-color: rgba(253, 224, 242, 0.71);
    width: 70%;
    padding: 25px;
    margin-top: 100px;
    float: right;
}

h3 {
    margin-bottom: 20px;
    margin-top: 10px;
}

.marge-left {
    margin-left: 5px;
}

ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

ul li img {
    margin-right: 10px;
}

#localisaion {
    width: 35px;
    margin-right: 0;
}


/*skills*/
#skills-container {
    padding: 50px;
    width: 50%;
}
.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 70%;
    margin-left: 25%;
}

.list {
    display: flex;
    align-items: center;
}

.container-line  {
    width: 70%;
}

.horizontal {
    width: 1px;
    background-color: black;
    height: 150px;

}

h2 {
    margin-bottom: 20px;
    margin-top: 20px;
}

@media (max-width: 950px) {
    #container-list {
        flex-wrap: wrap;
    }

    .first-div, #skills-container {
        width: 100%;
    }

    #skills-container {
        margin-top: 50px;
    }
}

@media  (max-width: 624px) {
    #skills-container {
        margin-top: 0;
    }

    #post-it {
        width: 100%;
    }

    .first-div {
        display: flex;
        justify-content: center;
        height: auto;
        width: 90%;
    }
}