*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Gilda Display', serif;
}

nav {
    box-shadow: 1px 1px 20px 1px #5b5b5b;
    color: #3D3D3D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*padding-right: 100px;
    padding-left: 100px;*/
}

button {
    border-radius: 0;
    padding: 10px;
    border: 1px solid #3D3D3D;
}

button:hover {
    cursor: pointer;
}

a {
    color: inherit;
}

/*MAIN*/
#container-button, main, #container-list {
    display: flex;
}

main, #container-list {
    margin-top: 25px;
    align-items: center;
}

.first-div, #second-div, #list-project, #apercu, #skills-container {
    width: 50%;
}

.first-div {
    margin-left: 10%;
}

main h1 {
    width: 700px;
    font-size: 60px;
}

main p {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #3b3b3b;
}

main p, button {
    font-size: 24px;
}

#btn-projects {
    margin-right: 20px;
}

#btn-projects button {
    background-color: #3D3D3D;
    color: #FFFFFF;
}

#btn-projects button:hover {
    background-color: #FFFFFF;
    color: #3D3D3D;
}

#btn-contact button {
    background-color: #FFFFFF;
}

#btn-contact button:hover {
    background-color: #3D3D3D;
    color: #FFFFFF;
}

#second-div {
    display: flex;
    justify-content: right;
}

#second-div img {
    width: 80%;
}
